body {
  padding: 0.3em;
}

#container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 12em;
  height: 3.5em;
}

#successText {
  display: none;
}

#addBtn {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  padding: 1em;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}
#addBtn:hover {
  color: white;
  background-color: goldenrod;
}
