body {
  padding: 0.3em;
}
/* div size specified to force window to size itself to surround div */
#container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 12em;
  height: 3.5em;
}

/* hide initially */
#successText {
  display: none;
}

#addBtn {
  background-color: var(--colour-light);
  border: none;
  padding: 1em;
  cursor: pointer;
  white-space: nowrap;
}
#addBtn:hover {
  color: var(--colour-light);
  background-color: var(--colour-primary);
}
