body {
  padding: 5em;
  background-image: linear-gradient(goldenrod, darkgoldenrod);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input[type="text"] {
  color: rgb(60, 60, 60);
  border: 1px solid darkgoldenrod;
  padding: 0.75em 0.25em;
  margin-bottom: 1em;
  width: 100%;
}
input:invalid {
  border-color: red;
}
input[type="submit"],
input[type="button"] {
  font-weight: bold;
  width: 8em;
  margin-left: 2em;
  padding: 1em;
  cursor: pointer;
  border: 1px solid darkgoldenrod;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: gold;
}
label {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 0 0.3em 0;
  display: block;
}

* {
  box-sizing: border-box;
}

/* search */

#searching {
  width: 20em;
  margin: 3em auto;
  padding: 0.5em;
  font-size: 2em;
}

/* bookmarks */

#bookmarksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.bookmark-card {
  width: 8em;
  margin: 1em;
}
.bookmark-data {
  background-color: white;
  border-radius: 0.5em;
  padding: 1em 0.5em;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out;
}
.bookmark-data:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}
.bookmark-card-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-bottom: 0.5em;
}
.bookmark-card-title {
  font-size: 0.85em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.bookmark-controls {
  margin-top: 0.25em;
  background-color: gold;
  border-radius: 0.5em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.bookmark-controls:hover {
  opacity: 1;
}

/* form */

#editformModal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: none;
}
#editform {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 40em;
  padding: 1.5em;
  margin: auto;
  border-radius: 1em;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
  text-align: left;
}
#editformDescription {
  font-weight: bold;
  font-size: 2em;
  padding: 0;
  margin: 0 0 2em 0;
}

.editformRequired {
  font-size: 0.7em;
  font-weight: normal;
  vertical-align:baseline;
}

.editformButtonsRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 0.7em;
}

#editformDelete {
  color: #c00;
}

#controls {
  position: absolute;
  bottom: 2em;
  left: 2em;
}

#controls a {
  color: black;
}
